
.uomcontent nav.strategies {
	display: flex;
	justify-content: center;
	margin-bottom: calc(3*var(--p));
}

.uomcontent nav.strategies span {
	color: var(--c1-dark);
	font-weight: 600;
}

.uomcontent nav.strategies button {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin-left: var(--h);
	border: 0;
	padding: 0 var(--q);
	font-size: 1rem;
	background-color: #f6f6f6;
	border: 1px solid #f6f6f6;
	cursor: pointer;
	box-sizing: border-box;
}

.uomcontent body.post nav.strategies button h1, body.post nav.strategies button p {
	width: auto;
	min-width: auto;

	font-size: .9rem;
	margin: 0;
	padding: 0;
	text-align: left;
	color: var(--default-text);
	font-family: Roboto;
}

.uomcontent body.post nav.strategies button h1 {
	padding-top: var(--q);
	font-weight: 500;
}

.uomcontent body.post nav.strategies button p {
	padding: var(--q) 0;
	font-weight: 300;
}

.uomcontent nav.strategies button.active, nav.strategies button:hover {
	border: 1px solid #bcbcbc;
}

.uomcontent nav.strategies button:focus {
	outline: none;
}

.uomcontent #fig-strategies {
	/*background-color: red;*/
}