---
pagination:
  data: collections.post
  size: 1
  alias: post
permalink: /{{ post.data.slug }}/
---

{% extends 'base.njk' %}

{% block title %}
	{{ post.data.title }} | Population Interventions Unit
{% endblock %}

{% block head %}

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
	<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload="renderMathInElement(document.body);"></script>

	<meta charset="utf-8">
	{# <script src="https://d3js.org/d3.v4.min.js"></script> #}

	<script src="https://cdn.jsdelivr.net/npm/vega@5.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.12.2"></script>
	
	{% if post.data.hidden %}
		<meta name="robots" content="noindex">
		<meta name="googlebot" content="noindex">
	{% endif %}    

{% endblock %}

{% block body_class %}post{% endblock %}

{% block content %}


	<header>
		{% if post.data.hidden %}
			<div class="banner">
				This page is a draft.
			</div>
		{% endif %}
	</header>

	<aside>

		<div class="about">
			<h1>SARS-CoV-2 Case Modelling</h1>

{# 			<p>This graph shows 100 runs of an epidemiological model that simulates the number of SARS-CoV-2 cases under a range of scenarios. <a href="#">Learn more.</a></p>

			<h1>Explore the data</h1>
			<p>Use the controls below to interact with the data.</p> #}
		</div>


		<div class="toggles">

			{% for toggle_group in post.data | get_toggles %}

				<div class="toggle-group">

					<div class="group-details">
						<div class="group-name">{{ toggle_group.name }}</div>
					</div>

					<div class="group-contents">

						{% for toggle in toggle_group.toggles %}
							<div class="toggle-box">
								<div class="name">{{ toggle.name }}</div>
								<div class="description">{{ toggle.description }}</div>

								{% if toggle.type == "range" %}

									<input type="range" name="a" id="a" min="1" max="3" step="1" value="2">
									{# custom input slider: https://codepen.io/trevanhetzel/pen/rOVrGK #}

								{% elif toggle.type == "select" %}
									
									<select name="pets" id="pet-select">
										<option value="">--Please choose an option--</option>
										<option value="dog">Dog</option>
										<option value="cat">Cat</option>
										<option value="hamster">Hamster</option>
										<option value="parrot">Parrot</option>
										<option value="spider">Spider</option>
										<option value="goldfish">Goldfish</option>
									</select>
									{# https://joshuajohnson.co.uk/Choices/ #}

								{% endif %}

							</div>
						{% endfor %}

					</div>

				</div>
			{% endfor %}

			</div>

		</div>

	</aside>


	<div class="graph">

		<div id="graph-container"></div>

	</div>

	<script>

		// Retrieve graph specification.
		var graphSpecLoaded = $.get(
			'/posts/{{ post.data.slug }}/{{ post.data.vega_graph_spec }}',
			loadGraph
		)
		
		function loadGraph(data, status) {
				
			var graphSpec = data;
				
			// Embed the visualization in the container with id `graph-container`.
			vegaEmbed(
				'#graph-container',
				graphSpec,
				{
					actions: false
				}
			);
				
		};

	
	</script>

{% endblock %}