html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  background-color: #fff;
  font: 400 16px/1.5rem "Source Sans Pro", "Gill Sans", "Trebuchet MS", Arial, sans-serif;
  color: #141414;
  text-size-adjust: none;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.hide {
  display: none !important;
}

.uomcontent h1.aligned-title {
  padding-bottom: 1.5rem;
}
.uomcontent h1.aligned-title:after {
  display: none;
}
.uomcontent section.lead.left:after {
  margin-top: 2.25rem;
  width: 2.5rem;
  border-bottom: 2px solid currentColor;
  content: "";
  display: block;
  margin-left: 0;
}
.uomcontent hr {
  margin: 3rem 0 4.5rem 0;
}
.uomcontent .filtered-listing-grid .filtered-listing-item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.uomcontent .filtered-listing-grid .filtered-listing-item a strong {
  margin: 0 0 0.25rem 0;
}
.uomcontent .filtered-listing-grid .filtered-listing-item a span.date {
  display: block;
  text-align: right;
  font-size: 0.9rem;
  font-weight: 600;
}
.uomcontent .filtered-listing-grid .filtered-listing-item a span.date::before {
  content: "Updated ";
  font-weight: 400;
}

.fig {
  margin: 0 auto 1.4rem auto;
  padding: 0;
  border: 0;
  max-width: calc(100% - 2.1rem);
}
.fig.inset {
  width: 600px;
}
.fig.outset-1 {
  width: calc(600px + 5.6rem);
}
.fig.outset-2 {
  width: calc(600px + 11.2rem);
}
.fig.outset-3 {
  width: calc(600px + 22.4rem);
}
.fig.outset-4 {
  width: calc(600px + 44.8rem);
}
.fig.full-width {
  width: 100%;
  max-width: 100%;
}
.fig.full-width-inset {
  width: 100%;
}
.fig.side-1 {
  clear: both;
  float: right;
  margin-left: 1.4rem;
  margin-right: calc((100% - 600px) / 2);
  width: 200px;
}
.fig.side-2 {
  clear: both;
  float: right;
  margin-left: 1.4rem;
  margin-right: calc((100% - 600px) / 2 - 100px);
  width: 300px;
}
.fig.side-3 {
  clear: both;
  float: right;
  margin-left: 1.4rem;
  margin-right: calc((100% - 600px) / 2 - 200px);
  width: 400px;
}
.fig.more-margin-1 {
  margin-top: 2.8rem;
  margin-bottom: 2.8rem;
}
.fig.more-margin-2 {
  margin-top: 5.6rem;
  margin-bottom: 5.6rem;
}
.fig.more-margin-3 {
  margin-top: 11.2rem;
  margin-bottom: 11.2rem;
}
.fig img {
  width: 100%;
  max-width: 100%;
}
.fig svg {
  width: 100%;
  overflow: visible;
}

.graph-with-toggles {
  display: grid;
  grid-template-rows: [graph-start] 1fr [graph-end];
  grid-template-columns: [toggles-start left-edge] 30% [toggles-end graph-start] 1fr [graph-end right-edge];
  border-top: 1px solid #094183;
  border-bottom: 1px solid #094183;
  min-height: 80vh;
  max-height: 100vh;
  margin: 4.5rem 0 6rem 0;
}
.graph-with-toggles aside {
  grid-row: graph-start/graph-end;
  grid-column: toggles-start/toggles-end;
  max-height: 100vh;
  border-right: 1px solid #094183;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
}
.graph-with-toggles aside div.about {
  grid-row: 1/2;
  padding: 1.4rem 1.4rem 1.4rem 1.4rem;
  font-size: 1.125rem;
}
.graph-with-toggles aside div.about h1 {
  display: block;
  width: auto;
  margin: 0;
  color: #012a58;
  font-size: 1.5rem;
}
.graph-with-toggles aside div.toggles {
  grid-row: 2/3;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.graph-with-toggles aside div.toggles::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f2f5f9;
}
.graph-with-toggles aside div.toggles::-webkit-scrollbar-thumb {
  background-color: #094183;
  border-radius: 5px;
}
.graph-with-toggles aside div.toggles .toggle-group {
  display: block;
  margin: 0 1.4rem 1.4rem 1.4rem;
}
.graph-with-toggles aside div.toggles .toggle-group .group-details {
  background-color: #f2f5f9;
  margin: 0 -1.4rem;
  padding: 0.7rem 1.4rem;
}
.graph-with-toggles aside div.toggles .toggle-group .group-details .group-name {
  font-size: 1.2rem;
}
.graph-with-toggles aside div.toggles .toggle-group .group-contents {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-column-gap: 0.7rem;
  grid-row-gap: 0.7rem;
  padding-top: 0.7rem;
}
.graph-with-toggles aside div.toggles .toggle-group .group-contents .toggle-box {
  border-top: 3px solid #094183;
  padding-top: 0.7rem;
  font-size: 0.95rem;
}
.graph-with-toggles aside div.toggles .toggle-group .group-contents .toggle-box:nth-child(1), .graph-with-toggles aside div.toggles .toggle-group .group-contents .toggle-box:nth-child(2) {
  border-top: none;
  padding-top: 0;
}
.graph-with-toggles aside div.toggles .toggle-group .group-contents .toggle-box .name {
  font-weight: 700;
  line-height: 1.1rem;
  color: #012a58;
  margin-bottom: 2px;
}
.graph-with-toggles aside div.toggles .toggle-group .group-contents .toggle-box .description {
  color: #444;
  margin-bottom: 0.7rem;
  line-height: 1.1rem;
}
.graph-with-toggles div.graph {
  grid-row: graph-start/graph-end;
  grid-column: graph-start/graph-end;
  max-height: 100vh;
  padding: 100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
.graph-with-toggles div.graph #graph-container {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
