
@charset 'utf-8';

// ============================================================================== //
// ============================================================================== //
// VARIABLES ==================================================================== //
// ============================================================================== //

// FONTS

$sans-serif-stack: ('Source Sans Pro', 'Gill Sans', 'Trebuchet MS', Arial, sans-serif);
$monospace-stack: ('Source Code Pro', monospace);

// COLOURS

$default-background: #fff;
$default-text: #141414;

$c1-darker: #012a58;

$c1-dark: #094183;
$c1-dark-text: #fff;

$c1-light: #f2f5f9;

// SPACING

$p: 1.4rem;
$h: #{$p / 2};
$q: #{$p / 4};

// ============================================================================== //
// ============================================================================== //
// MIXINS ======================================================================= //
// ============================================================================== //

@mixin cross-browser($property, $value) {
	-webkit-#{$property}: $value;
		 -moz-#{$property}: $value;
			-ms-#{$property}: $value;
					#{$property}: $value;
}

@mixin mpb($margin:0, $padding:0, $border:0) {
		margin: $margin;
		padding: $padding;
		border: $border;
}

// ============================================================================== //
// ============================================================================== //
// GLOBAL ======================================================================= //
// ============================================================================== //

// Replaces standard box model with one where width/height are the actual
// visable width/height. Padding & border cut into the box.

html {
	box-sizing: border-box;
	@include cross-browser('font-smoothing', antialiased);
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;

	background-color: $default-background;
	font: 400 16px/1.5rem $sans-serif-stack;
	color: $default-text;

	text-size-adjust: none;
	
	overflow-x: hidden;
	overflow-y: scroll;
	
	min-height: 100vh;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	@include mpb();

	font-size: 16px;
}

html, body {
	min-height: 100vh;
}

div.banner {
	width: 100%;
	padding: $h;
	text-align: center;
	background-color: $c1-light;
}

// ============================================================================== //
// ============================================================================== //
// HOMEPAGE ===================================================================== //
// ============================================================================== //

// TBD.

// ============================================================================== //
// ============================================================================== //
// POST ========================================================================= //
// ============================================================================== //

body.post {
	display: grid;
	grid-template-rows: [header-start] auto [header-end graph-start] 1fr [graph-end footer-start] auto [footer-end];
	grid-template-columns: [toggles-start left-edge] 30% [toggles-end graph-start] 1fr [graph-end right-edge];

	header {
		grid-row: header-start / header-end;
		grid-column: left-edge / right-edge;
	}

	aside {
		grid-row: graph-start / graph-end;
		grid-column: toggles-start / toggles-end;
		max-height: 100vh;

		border-right: 1px solid $c1-dark;
		
		display: grid;
		grid-template-rows: auto 1fr;
		grid-template-columns: auto;

		div.about {
			grid-row: 1 / 2;

			padding: $p $p $p $p;
			
			font-size: 1.125rem;

			h1 {
				display: block;
				margin: 0;
				color: $c1-darker;
				font-size: 1.5rem;
			}
		}

		div.toggles {

			grid-row: 2 / 3;
			overflow-y: scroll;
			scroll-behavior: smooth;
			// border-top: 1px solid $c1-dark;

			// background-color: $c1-light;

			&::-webkit-scrollbar {
				width: 5px;
				height: 5px;
				background-color: $c1-light;
			}
			 
			&::-webkit-scrollbar-thumb {
				background-color: $c1-dark;
				border-radius: 5px;
			}

			.toggle-group {
				display: block;
				margin: 0 $p $p $p;
				// border: 1px solid $c1-dark;
				// border-radius: $q;
				
				.group-details {

					background-color: $c1-light;
					margin: 0 #{-1 * $p};
					padding: $h $p;

					.group-name {
						font-size: 1.2rem;
						// margin-bottom: $h;
					}
				}

				.group-contents {
					display: grid;
					grid-template-columns: repeat(2, .5fr);
					grid-column-gap: $h;
					grid-row-gap: $h;
					padding-top: $h;
					// background-color: $c1-light;
					// border-top: 2px solid #abbed8;
					


					.toggle-box {
						// background-color: $c1-light;
						border-top: 3px solid $c1-light;
						padding-top: $h;

						&:nth-child(1), &:nth-child(2) {
							border-top: none;
							padding-top: 0;
						}

						font-size: .95rem;

						.name {
							font-weight: 700;
							line-height: 1.1rem;
							color: $c1-darker;
							margin-bottom: 2px;
						}

						.description {
							color: #444;
							margin-bottom: $h;
							line-height: 1.1rem;
						}
					}
				}

			}

		}
	}	


	div.graph {
		grid-row: graph-start / graph-end;
		grid-column: graph-start / graph-end;
		max-height: 100vh;

		padding: 100px;

		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

		#graph-container {
			width: 100%;
			height: 100%;
		}
	}

	footer {
		grid-row: footer-start / footer-end;
		grid-column: left-edge / right-edge;

		background-color: $c1-dark;
	}
}


// ============================================================================== //
// ============================================================================== //
// ============================================================================== //