{% extends 'base.njk' %}

{% block body_class %}home{% endblock %}

{% block content %}

	<article>

		<h1>Population Interventions Unit</h1>

		<p>This site contains interactive data visualisations of the research conducted by the Population Interventions Unit at the University of Melbourne.</p>

		<h2>Visualisations</h2>

		{% for post in collections.post | removeHiddenPostsAndPages | reverse %}
		
		<a href="/{{ post.data.slug }}/" class="card">
			
			<div class="content">
				<h1>{{ post.data.title }}</h1>
				
				<div class="description">
					{{ post.data.description }}
				</div>

				<div class="metadata">
					Last Updated {{ post.data.date | readable_date | safe }}
				</div>
				
			</div>

		</a>

		{% endfor %}

	</article>

{% endblock %}